In [1]:
#!/usr/bin/env python

In [2]:
import wuml

2021-10-25 09:38:28.353492: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0

We first remove column A because there are too many missing values

In [3]:
data = wuml.wData('../../data/missin_example.csv', row_id_with_label=0, columns_to_ignore=['A'])
print('We start with this dataset')
print(data,'\n')

We start with this dataset
      B    C    D    E    F
0   NaN  NaN  NaN  NaN  7.0
1   2.0  3.0  4.0  5.0  6.0
2   2.0  3.0  3.0  3.0  4.0
3   2.0  3.0  3.0  3.0  5.0
4   2.0  3.0  3.0  3.0  3.0
5   2.0  3.0  3.0  3.0  NaN
6   2.0  3.0  3.0  3.0  NaN
7   2.0  3.0  NaN  3.0  NaN
8   2.0  3.0  3.0  3.0  NaN
9   2.0  NaN  3.0  3.0  NaN
10  2.0  NaN  NaN  3.0  NaN
11  2.0  NaN  NaN  3.0  NaN
12  2.0  NaN  NaN  3.0  NaN
13  2.0  NaN  NaN  NaN  NaN
14  2.0  NaN  NaN  NaN  NaN

In [4]:
X = wuml.impute(data, ignore_first_index_column=False)
print('We first impute all the residual missing entries')
X.df.style

We first impute all the residual missing entries

In [5]:
X = wuml.map_data_between_0_and_1(X, map_type='linear') # map_type: linear, or cdf
X.df.style

In [6]:
X = wuml.map_data_between_0_and_1(X, map_type='cdf') # map_type: linear, or cdf
X.df.style