In [1]:
#!/usr/bin/env python
import os
import sys
if os.path.exists('/home/chieh/code/wPlotLib'):
	sys.path.insert(0,'/home/chieh/code/wPlotLib')
if os.path.exists('/home/chieh/code/wuML'):
	sys.path.insert(0,'/home/chieh/code/wuML')

In [2]:
import wuml

We first remove column A because there are too many missing values

In [3]:
data = wuml.wData('../../data/missin_example.csv', first_row_is_label=True, columns_to_ignore=['A'])
wuml.jupyter_print('We start with this dataset')
wuml.jupyter_print(data,'\n')

      B    C    D    E    F
0   NaN  NaN  NaN  NaN  7.0
1   2.0  3.0  4.0  5.0  6.0
2   2.0  3.0  3.0  3.0  4.0
3   2.0  3.0  3.0  3.0  5.0
4   2.0  3.0  3.0  3.0  3.0
5   2.0  3.0  3.0  3.0  NaN
6   2.0  3.0  3.0  3.0  NaN
7   2.0  3.0  NaN  3.0  NaN
8   2.0  3.0  3.0  3.0  NaN
9   2.0  NaN  3.0  3.0  NaN
10  2.0  NaN  NaN  3.0  NaN
11  2.0  NaN  NaN  3.0  NaN
12  2.0  NaN  NaN  3.0  NaN
13  2.0  NaN  NaN  NaN  NaN
14  2.0  NaN  NaN  NaN  NaN

In [4]:
X = wuml.impute(data, ignore_first_index_column=False)
wuml.jupyter_print('We first impute all the residual missing entries')
wuml.jupyter_print(X,'\n')

      B    C         D         E        F
0   2.0  3.0  3.043100  3.086199  7.00000
1   2.0  3.0  4.000000  5.000000  6.00000
2   2.0  3.0  3.000000  3.000000  4.00000
3   2.0  3.0  3.000000  3.000000  5.00000
4   2.0  3.0  3.000000  3.000000  3.00000
5   2.0  3.0  3.000000  3.000000  4.99857
6   2.0  3.0  3.000000  3.000000  4.99857
7   2.0  3.0  3.000000  3.000000  4.99857
8   2.0  3.0  3.000000  3.000000  4.99857
9   2.0  3.0  3.000000  3.000000  4.99857
10  2.0  3.0  3.000000  3.000000  4.99857
11  2.0  3.0  3.000000  3.000000  4.99857
12  2.0  3.0  3.000000  3.000000  4.99857
13  2.0  3.0  3.080239  3.160477  4.99912
14  2.0  3.0  3.080239  3.160477  4.99912

In [5]:
X = wuml.map_data_between_0_and_1(X, map_type='linear') # map_type: linear, or cdf
wuml.jupyter_print(X[0:20,:])

      B    C             D         E         F
0   0.0  0.0  4.310031e-02  0.043100  1.000000
1   0.0  0.0  1.000000e+00  1.000000  0.750000
2   0.0  0.0  0.000000e+00  0.000000  0.250000
3   0.0  0.0  0.000000e+00  0.000000  0.500000
4   0.0  0.0  0.000000e+00  0.000000  0.000000
..  ...  ...           ...       ...       ...
10  0.0  0.0  2.051774e-07  0.000000  0.499643
11  0.0  0.0  2.051774e-07  0.000000  0.499643
12  0.0  0.0  2.051774e-07  0.000000  0.499643
13  0.0  0.0  8.023855e-02  0.080238  0.499780
14  0.0  0.0  8.023855e-02  0.080238  0.499780

[15 rows x 5 columns]

In [6]:
X = wuml.map_data_between_0_and_1(X, map_type='cdf') # map_type: linear, or cdf
wuml.jupyter_print(X[0:20,:])

      B    C         D         E         F
0   1.0  1.0  0.506820  0.506819  0.953368
1   1.0  1.0  0.966570  0.966570  0.824020
2   1.0  1.0  0.446402  0.446402  0.176389
3   1.0  1.0  0.446402  0.446402  0.500424
4   1.0  1.0  0.446402  0.446402  0.046678
..  ...  ...       ...       ...       ...
10  1.0  1.0  0.446402  0.446402  0.499869
11  1.0  1.0  0.446402  0.446402  0.499869
12  1.0  1.0  0.446402  0.446402  0.499869
13  1.0  1.0  0.558092  0.558092  0.500083
14  1.0  1.0  0.558092  0.558092  0.500083

[15 rows x 5 columns]